# Python cache and junk
__pycache__/
*.py[cod]
*.so
.ipynb_checkpoints/

# Virtual environments
rag/
env/
.venv/

# Environment variables
.env

# ChromaDB persistence
data/chroma_index/
notebooks/data/chroma_index/

# VSCode & Mac junk
.DS_Store
.vscode/

# Logs
*.log