# Core AI
langchain
openai
chromadb
tiktoken

# PDF Parsing
PyMuPDF==1.26.5

# Embeddings (lightweight)
sentence-transformers

# Streamlit UI
streamlit

# Utilities
python-dotenv
numpy
pandas

# For evaluation + highlighting
nltk
scikit-learn